body{
    background-color: black;
    text-align: center;
    color:white;
}
button{
    width: 80px;
    height: 40px;
    visibility:hidden;
}

section{
    background-image: url(Jeu.jpg);
    background-size:cover;
    max-width:80%;
    height: 100vh;
    text-align: center;
    margin: auto;
    padding-top: 10vh;
}
div{
    justify-content: center;
    padding: 10px;
    text-align:center;

}
.guess{
    width:20px;
    margin:auto;
    visibility: hidden;
}
.found{
    width:20px;
    margin: 0;
    visibility: visible;
}
#lettres{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10%;
}
#essai{
    opacity: 0.5;
    text-align:center;
    vertical-align: center;
    width: 40px;
    height: 40px;
}
.bord{
    border-bottom: 3px white solid;
    width:20px;
    margin:auto;
}